body {
	margin: 0;
	padding: 0;
}

a {
	font-size: calc(0.5em + 1vmin);
	color: rgba(218, 218, 218, 0.85);
	font-weight: 800;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
	position: absolute;
	top: 0;
	right: 0;
	padding: 10px;
	margin-right: 5px;
	z-index: 2;
}

a:hover {
	cursor: pointer;
	color:rgba(58, 58, 58, 0.85);
}

canvas {
	position: absolute;
	z-index: 1;
}