body {
  padding: 0;
  margin: 0;
  opacity: 0;
  animation: fadein1 2s forwards;
}

/*---------------------------------------------*/
/*nav bar*/
nav {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #80bfff;
  width: 100%;
  font-family: "Comfortaa", verdana, sans-serif;
  z-index: 3;
}

#logo {
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16px;
}

#logo:hover {
  cursor: pointer;
}

#e {
  display: inline-block;
}

#place {
  display: inline-block;
}

.switch {
  animation: switch 1s infinite;
}

@keyframes switch {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 125%;
  position: relative;
  right: 50%;
}

.nav-links li {
  list-style: none;
  padding: 10px;
}

.nav-links a {
  color: #f2f2f2;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 12px;
}

#ca:hover {
  text-decoration: underline;
  cursor: pointer;
}

#ex:hover {
  text-decoration: underline;
  cursor: pointer;
}

#up:hover {
  text-decoration: underline;
  cursor: pointer;
}

#abt:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* burger menu */
.burger {
  position: absolute;
  right: 3%;
  display: none;
}

.burger div {
  width: 25px;
  height: 5px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
}


/* Modal CONTACT */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 90%;
  height: 80vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  font-family: Verdana;
}

.modal-content {
  height: 80vh;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

object {
  width: 100%;
  height: 80vh;
}



/* canvas */
#canvas1 {
  width: 100%;
  height: 100%;
  background: radial-gradient(#80bfff, #e6ffff);
  padding: 0;
  position: relative;
  top: 70px;
}

/* text */
#text {
  position: absolute;
  z-index: 1;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
  color: white;
  font-size: 50px;
  font-family: Verdana, sans-serif;
  animation: in 3s forwards;
  top: 75px;
}

#set {
  position: absolute;
  z-index: 1;
  top: 75px;
  padding: 3px;
}

#set:hover {
  cursor: pointer;
}

/* in */
@keyframes in {
  from {
    top: 0%;
  }
  to {
    top: 10%;
  }
}

/*/ cards*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.6s;
  width: 40%;
  border-radius: 100px;
}

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.4);
  cursor: pointer;
}

.container {
  padding: 2px 16px;
}

/* projects */
#projects {
  font-family: Verdana, sans-serif;
  position: relative;
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
}

.header {
  padding-bottom: 50px;
}

/* experiments */
#experiments {
  font-family: Verdana, sans-serif;
  position: relative;
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
}

/*updates */
#updates {
  font-family: Verdana, sans-serif;
  position: relative;
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
}

#upd {
  border: 3px solid black;
  overflow: auto;
  height: 600px;
}

#upd li {
  border: 1px solid dodgerblue;
  overflow: auto;
}

.update {
  list-style: none;
}

.update a{
  font-weight: bold;
  text-decoration: underline;
}

/* about */
#about {
  font-family: Verdana, sans-serif;
  position: relative;
  padding-top: 300px;
  padding-bottom: 300px;
  text-align: center;
}

/* social media */
#socials {
  text-align: center;
  font-family: Verdana, sans-serif;
  padding-bottom: 60px;
  padding-top: 300px;
}

#socials > button:hover {
  position: relative;
  cursor: pointer;
  top: -5px;
}

#github {
  background-image: url('github.jpg');
  height: 32px;
  width: 32px;
  border-width: 0px;
}

#discord {
  background-image: url('discord.jpg');
  height: 32px;
  width: 32px;
  border-width: 0px;
}

#youtube {
  background-image: url('youtube.jpg');
  height: 32px;
  width: 32px;
  border-width: 0px;
}

/*footer*/
#footer {
  background: #00001a;
  text-align: center;
  height: 200px;
  font-family: sans-serif;
  color: white;
}

#footer button {
  color: black;
  background-color: orange;
  border-radius: 14px;
  position: relative;
  top: 5px;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  padding: 8px;
}

#footer button:hover {
  cursor: pointer;
  background-color: darkorange;
}

#footer p {
  position: relative;
  font-size: 12px;
}

#footer p:hover {
  cursor: pointer;
}

/* mobile */

@media screen and (max-width: 1200px) {
  body {
    display: none;
  }
}

/* animations */
.fadein1 {
  animation: fadein1 3s forwards;
}


@keyframes fadein1 {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }
}

/* fade out */
.fadeout {
  opacity: 0;
  /*animation: fadeout 3s forwards;*/
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
